[2015-05-18 06:35] hoverbird opened #1 "I can't seem to render multiple ReactCountdownClock components on a page"
Hi there. When rendering 3 of these components on a page (think expiring deals that all have individual timers), I see 3 canvas elements as expected, but only the first one actually draws the countdown clock. The other few are empty. Any idea why that might be the case? Thanks in advance!

[2015-05-18 09:25] pughpugh commented on #1
Ahoy! Thanks for reporting this.

I will take a look at this tonight if I can - otherwise, if you come up with a fix, feel free to issue a pull-request.

[2015-05-25 00:55] #1 closed

[2015-05-26 17:56] hoverbird commented on #1
Hey! Thanks for taking a look at it. I've moved on from needing to render multiple timers in the same page, but FWIW the issue still remains. I'm an utter noob when it comes to Canvas APIs so I haven't had much luck in diagnosing it. Best of luck!

[2015-05-26 17:57] pughpugh commented on #1
Can you post an example of it's usage @hoverbird ?

[2015-05-28 23:53] hoverbird commented on #1
Oops, my mistake. I thought bower had updated me to your latest fixversion, but I realized when testing in JS Fiddle it was actually stuck on the last one. All works as expected now; thanks!

[2015-05-29 08:03] pughpugh commented on #1
Great stuff, thanks!

[2015-12-04 19:55] admiralPanda opened #4 "Minutes & Hours"
I'd love to see you add minutes & hours countdown in addition to seconds. It'd be super useful.

[2015-12-19 07:15] whoooami opened #5 "Maybe should add onCancel() props?"
or when componentWillUnmount() cancel the timer.

[2015-12-20 11:42] pughpugh commented on #5
Agreed. Time is now cleared on unmount. See 21eb52c.

[2015-12-20 11:42] #5 closed

[2015-12-20 13:37] pughpugh commented on #4
I had a play with this today, although it needs more work;

<img width="1006" alt="screen shot 2015-12-20 at 13 31 32" src="https://cloud.githubusercontent.com/assets/689998/11918176/99c852b2-a71e-11e5-92a9-903cf4bd647e.png">

I'd like to retain the ability of just showing seconds, but this could be controlled with another prop.

[2015-12-21 10:15] admiralPanda commented on #4
Looks awesome!

[2016-01-27 12:40] aliceleducq opened #6 "Component not rendered: this._seconds is not defined"
Hi, i tried to use your countdown component but it won't load. My console says "this._seconds" is not defined, which comes from your lib and not my code... What should I try to make it work?

Best,
Alice

[2016-01-27 12:54] #6 closed

[2016-02-18 03:03] aucodemonkey opened #7 "License?"
I don't see a license for this piece of code. Is there one associated with it?

[2016-02-18 08:58] pughpugh commented on #7
[ISC](https://opensource.org/licenses/ISC) as mentioned in the `package.json`. I could add an explicit license file, if you think it would make it easier to find.

[2016-02-18 09:02] pughpugh commented on #7
Well I've done that now as well, which will feature in the next release I cut.

[2016-02-18 09:02] #7 closed

[2016-02-18 12:19] aucodemonkey commented on #7
Sorry, brain fart last night. I didn't even think to check the package.json file. Thanks!

[2016-02-25 23:59] lusilva commented on #4
Any updates? Would love to use this to display a countdown on my page if it had minutes and hours.

[2016-02-26 08:58] pughpugh commented on #4
Thanks for the reminder. I'll try and organise some time for this.

[2016-05-11 19:11] rafmar commented on #4
Great work @pughpugh :+1: Your countdown looks gorgeous and I think it definitely needs possibility of displaying minutes and hours.

[2016-05-25 11:54] YurkoZ commented on #4
Any news about it?

[2016-06-15 08:17] pughpugh commented on #4
No sorry, no update. I keep meaning finish it, but life is busy at the mo. I'll keep it in mind.

[2016-08-08 09:21] pughpugh commented on #4
I've finally got round to starting a branch for this. Hopefully be ready soon, but feel free to check it out before hand.

I've added an optional `timeFormat` prop. The default is `seconds`, but you can also use `hms`. The later one will degrade from `hh:mm:ss` to `mm:ss` to `ss` as time runs out. The start time itself still needs to be expressed in seconds.

The font size is dynamic and will atte

[2016-08-08 18:08] pughpugh commented on #4
Ok, all done. This is in 1.0.8

[2016-08-08 19:01] #4 closed

[2016-09-12 23:40] gillchristian opened #11 "Change props (color) without restarting the countdown"
Hi, the component is awesome! :smile:

I'm using it to display the time remaining for the user to buy some stuff. I wanted to change the color when a certain time it is about to end but if I pass new props it starts the countdown again. Any ideas on how to solve that?

[2016-09-23 11:28] janhartmann opened #14 "Prop for whether the counter should be paused"
It would be cool if you could be able to pause the countdown.

I have a use case where the count down is not visible and I wish to control when to start the countdown. Thanks :-)

[2016-10-20 09:29] hualet commented on #14
Yeah, this feature would be very helpful.

[2016-11-02 07:13] brijeshPantDaffodil opened #16 "Countdown speed increases"
I've fed the `seconds` prop with a state variable, and when this variable changes, the clock does show the updated time, **but** the speed with which the time passes *doubles up*!

[code]

The speed further increases as the state variable changes further.

Please fix the issue, or suggest a workaround

[2016-11-02 10:40] pughpugh commented on #16
Hi, thanks for reporting the issue.

Yeah that will be because the timer is not cancelled when the props get updated, so you're getting twice as many (or more) tick events. It probably needs a call to `_cancelTimer` at the start of `_setupTimer`.

As a workaround you might be able to call `_cancelTimer` manually via a ref; see http://stackoverflow.com/a/24848228/523866

As for a fix, it will depen

[2016-11-02 15:09] sturoid opened #17 "Stop from reinitializing on state state change."
Hi there. Thank you for your work on this. It is great. I'm using the timer in an overlay on the screen that can be hidden and shown. Whenever it is hidden and shown the clock will reinitialize. Do you know of any way to stop it from doing that? Thank you in advance for the help.

[2016-11-02 15:33] pughpugh commented on #17
Are you hiding it by toggling css `display` or adding it and removing it from the DOM via react? I think the first would work fine, but the second would cause it to reinitialise every time.

[2016-11-02 16:57] sturoid commented on #17
I'm just using jquery to add and remove classes to the container div. So one is fullscreen, one is minimized. Here is the view changer:

  handleChangeExamView() {
    const examEl = $('#course__exam')
    if($(examEl).hasClass('fullscreen')) {
      this.setState({examView: 'minimized'})
      $('#course__exam').removeClass('fullscreen').addClass('minimized')
      document.body.className = ''

[2016-11-26 20:43] emelent commented on #17
I'm still quite new to react, but my fix would be to wrap the ReactCountDownClock component in your own custom component, and then have your component's shouldComponentUpdate(...) method return false, this way your component won't update on any state changes.

`class MyCountDown extends ReactCountDownClock{

    shouldComponentUpdate(nextProps, nextState){
        return false;
    }

    render()

[2016-12-21 10:43] krishnakumar-g opened #19 "When it comes to second, unable to maintain the time format as (xx:xx)"
I have specified the value of 'timeFormat' props as 'hms'. For value greater than 60 seconds, it maintains the time format as (xx:xx). But, when the time is 60 seconds or less it omits the format(xx:xx) and shows only the seconds as (60, 59...1). There should be some default props to disable this.
 `  _formattedTime: ->
    decimals = (@_seconds <= 9.9 && @props.showMilliseconds) ? 1 : 0

    if @

[2016-12-21 11:09] pughpugh commented on #19
Hi,

Yes it was a stylistic choice to drop hours and minutes as they become exhausted. I'm not sure what you mean in regards to preventing `toFixed` on the seconds (feel free to do a PR). I would have thought it's the construction of the time timeParts array that needs some additional conditionals to prevent us dropping hours/minutes.

[code]

It needs a little thought about how to handle duration

[2016-12-21 12:08] krishnakumar-g commented on #19
Yes, I want to maintain the same format(xx:xx) throughout the countdown.

**Current behavior:**
for 3 minutes, it is showing as (03:00), but for 1 minute, it is showing as (60), and for 30 seconds it is showing as (30)

**Expected behavior:**
for 3 minutes - (03:00)
for 1 minute - (01:00)
for 30 seconds - (00:30)
for 1 second - (00:01)

This is what I am looking for.

Thanks.

[2016-12-23 18:02] pughpugh commented on #11
Hey - probably of no use to you now, but I'm working through some of the issues over xmas.  The time and colour props changes should now not conflict and reset the timer. This is fixed on master and should be in the next release.

I've added it to the demo - click the timer to prove it works.

http://pughpugh.github.io/react-countdown-clock/

Thanks for your input,
Hugh

[2016-12-30 20:08] pughpugh commented on #14
Hi,

I've added a couple of new props;

[code]

`pausedText` is optional and by default it will just freeze the current time. It's a little troublesome as the paused text string will be of the same font size as the last displayed time. I'd suggest also setting a fixed `fontSize` at the same time as setting the `paused` prop when using `pausedText`.

This is all on master at the moment. I've update

[2016-12-30 20:10] pughpugh commented on #16
I believe this should have been fixed as part of 3ed3914a949e8b1d60e9026d5bd8efff2e21aa3b . It should be in the next release I cut.

Thanks,
Hugh

[2017-01-08 07:14] ldapmadguy opened #20 "Countdown in days:hours:minutes:seconds"
Hello,

The maximum duration for the countdown is 23:59:59. Would it be possible to support days as well ?

Thanks !

[2017-01-09 02:00] ohmyjersh commented on #14
@pughpugh any idea when you will push a release to npm?  The pause feature would be nice to have.

[2017-01-09 11:42] hualet commented on #14
+1

[2017-01-11 15:52] pughpugh commented on #14
@ohmyjersh Possibly next week, I'm just finding it hard to make time to test it. I the mean time you can always give it a whirl via the master branch.

[2017-01-20 23:25] protoEvangelium commented on #16
@pughpugh  Great app!  Just struggling with the same issue.  Every time I click on an unrelated button on the page, it speeds up the timer.  The clock and the btn are not wired up in any way.

Any status on this?

[2017-01-20 23:28] protoEvangelium commented on #14
@pughpugh Hey Hugh :) I tried to set the paused property = true and the time just keeps on spinning.  Is this implemented in the current release?

[2017-03-02 01:36] RicardoHuangCHINA opened #21 "can not set the paused and pausedText in React"

[2017-03-02 01:59] JimmyTT commented on #21
The issue is not that it doesn't work in React; however, when you "npm install --save react-countdown-clock" the version is out of sync with the github repo.

[2017-03-02 09:13] pughpugh commented on #21
Thaks @JimmyTT . Yeah indeed this is only on master and has not been published yet. The version there is functionally complete, I've just found no time to test it in recent months. You're welcome to give it a whirl and report any issues.

[2017-03-02 15:20] pughpugh commented on #21
This has now been published to npm

[2017-03-02 15:20] #21 closed

[2017-03-02 15:22] pughpugh commented on #14
This has now been deployed to npm. The example has been updated (click on the timer to pause it)

[2017-03-02 15:22] #14 closed

[2017-03-02 15:22] pughpugh commented on #11
This has now been published to npm. Sorry for the delay and thanks again for your input.

[2017-03-02 15:22] #11 closed

[2017-03-02 15:24] pughpugh commented on #16
Sorry for the delay. I believe this is fixed in `1.1.0`, which I've just deployed to npm.

[2017-03-02 15:25] #17 closed

[2017-03-02 15:29] pughpugh commented on #20
It's a fine idea, although I think this is a little beyond the scope of this component (which was really just a bit of fun). Feel free to fork it and mess around with it as you see fit.

[2017-03-02 15:29] #20 closed

[2017-03-17 10:45] stubbegianni commented on #16
I'm still seeing the same issue. I have this rendered in a material ui tabs component. Every time I change tab it gets faster.

[2017-03-17 11:24] pughpugh commented on #16
When I have a moment I'll see if I replicate it.

[2017-03-17 11:25] stubbegianni commented on #16
I found the issue:
I calculated the amount of seconds in my render. The problem is every time I changed tabs the amount of seconds got updated. I managed to fix this by calculating the amount of seconds in my constructor and putting it in a state variable.

[2017-03-17 11:34] pughpugh commented on #16
I'm glad you found a way around. This does still feel like a bug, as clearly changing the prop causes duplicate timer callbacks to be queued up. But it's not totally clear to me what outcome people would expect if they legitimately changed the seconds;

* Are they updating the range time being counted down
* Are they updating the current position in the existing countdown
* Are they expecting the

[2017-03-17 11:38] stubbegianni commented on #16
I was not really updating it on purpose. I was just calculating a 10 min difference between a database date and now.

At the start this would be 600 seconds, but when changing tabs and going back would recalculate and end up with something smaller than that causing it to bug out.

[2017-03-22 13:47] Mousecop opened #23 "Centering the Clock"
Hello, I have a question/ issue about the clock not being able to center correctly due to what seems the absolute positioning of the second <canvas?> element. Is there any clear way to fix this or adjust to what I need? Thank you.

[2017-03-22 21:14] pughpugh commented on #23
Hi,

Have you tried using a wrapping element like in the [example](http://pughpugh.github.io/react-countdown-clock/)?

[code]
[code]

[2017-03-22 21:15] #16 closed

[2017-03-22 21:18] Mousecop commented on #23
I actually used the css selector `canvas:nth-of-type(2)` to target the second one to set it the position to relative and that works great!

I also emailed you about how to reset the clock once it's done. Let me know if that would be better to put in an issue or not.

Thank you!!

[2017-05-16 20:19] shanSyapse opened #25 "Support font color"
Thanks for this nice UI.
Could you support props.fontColor as the font.fillStyle? It would look nice if font and circle use different color.

[2017-05-30 09:30] soulclown opened #27 "Warning: React.createClass is deprecated"
Just installed this module, and got the following error in the console.

[code]

[2017-05-30 09:47] pughpugh commented on #27
I believe this has been resolved by @AaronKalair as part of PR #24 . I've not found a lot of time to go through the open issues and PRs recently. I'll see if I can make some time.

[2017-07-10 05:21] stanonyime opened #28 "Get current lapsed time on pause"
Thank you for this great widget.
It will be nice to pass a prop to the component and have it stopped and get the current time lapsed

[2017-07-10 08:00] HTaiNguyen commented on #27
Did you solve that issue yet ?

[2017-07-19 20:23] pughpugh commented on #27
This has now been merged and published. Thanks all.

[2017-07-19 20:23] #27 closed

[2017-07-19 20:24] #23 closed

[2017-08-16 21:01] patsplat opened #33 "Has there been any discussion of an onSecond callback?"
Am investigating how to add sound to the countdown clock.  Has there been any discussion of a callback for 5, 4, 3, 2, 1, etc seconds?

[2017-09-03 21:14] jericbas opened #34 "Uncaught TypeError: Cannot read property 'width' of undefined at Object._clearTimer"
I'm getting this error

[code]

the problem is in this line:
`  return this._timer.clearRect(0,0,this.refs.timer.width,this.refs.timer.height)
`

I solved it by adding condition
[code]

[2017-09-08 01:54] jonimin opened #35 "when re render ReactCountdownClock with initial seconds value the counter counts fast"
hi
i'm using your lovely counter for a trivia game, in my game logic when user hit on answer i re render the component and set the seconds with initial value, the component re render but the timer start count down much faster, in the 4 quis 10 seconds count down with real value of 3 secends

can you please check it?
Thanks
Yoni

[2017-09-08 14:18] pughpugh commented on #35
Hi. You'd have to provide a specific code example of it not working as expected. It does sound a little similar to #17 though. Thanks.

[2017-09-08 15:22] jonimin commented on #35
Hi
I don't have it deployed no where, I will check 17 and update you

Thanks for getting back to me
Yoni

On Friday, September 8, 2017, Hugh Gallagher <notifications@github.com>
wrote:

--

*Yoni Adi*

minutemedia.com <http://www.minutemedia.com/> • 90min.com
<http://www.90min.com/> • 12up.com <http://www.12up.com/>

Mobile: +972-5 <%2B972-50-4429315>4-5751687

--
*CONFIDENTIALITY NOTICE:* This me

[2017-09-10 15:50] nokka commented on #25
Would also really like this change. Not that familiar with coffeescript, but it looks like it should be here: https://github.com/pughpugh/react-countdown-clock/blob/master/coffee/react-countdown-clock.coffee#L168

You could take another parameter called `fontColor` then use it to set `fillStyle` here, draw the text, then use the `color` parameter to set `fillStyle` again before drawing the arc.

[2017-09-11 23:12] 7022Andre opened #36 "Change <canvas> position attribute?"
I am trying to change the `position` of the 2nd `<canvas>` element to `relative` so it'll display as a block rather than floating over my other divs (it is automatically set to: `position: absolute`).
Already added a CSS selector without success but my custom always CSS gets overridden by the `<canvas>` style.

[code]
Anyone who ran into the same issue and can help?

Thanks

[2017-09-12 08:33] pughpugh commented on #36
I'm not totally clear on the scenario, so you are welcome to post some code. I would consider wrapping the whole element in a div and setting your positioning on the wrapper.

As for setting styles on the canvas, the styles in react are inline, so you might have to use an `!important` flag to override them.

[code]

[2017-09-12 19:24] 7022Andre commented on #36
Thanks. I added a div around the countdown and gave it a height and then centered it (by adding padding) and that worked great.

[2017-09-12 19:24] #36 closed

[2017-09-17 16:38] 7022Andre opened #38 "Timer briefly displays x:60 seconds instead of x:59"
I just noticed that the timer briefly displays 60 at every full minute instead of 59, e.g. after 2:00 the timer shows briefly 1:60 before 1:59. Example from my app:
[![timer_issue.gif](https://s26.postimg.org/g6no62ad5/timer_issue.gif)](https://postimg.org/image/uput7h3hx/).

Example from [demo](http://pughpugh.github.io/react-countdown-clock)
[![timer.gif](https://s26.postimg.org/xp6b8c2d5/timer.

[2017-09-25 19:16] jenkins-teamone opened #39 "Timer counting down went very fast after the clock is blocked by a modal dialog"
In my code, I pop up a modal dialog in page when a button is clicked that blocks the view of clock. After the modal dialog is dismissed, the counting down time went fast and time even jump back. Do I need to pause the clock before display things on top of it?

[2017-09-25 21:10] pughpugh commented on #39
Hi. I've not seen such a case that would warrant stopping the clock.  If possible, you'd have to provide an example to replicate the issue, as it's hard to say what's going on from just a brief description.

[2017-09-26 01:00] PierreAndreis opened #40 "Set countdown duration"
Currently we can only set seconds, and the circle will start all filled up, which is the max second.
I would like to be able to set countdown duration as 60 and seconds at 30. So the countdown will start at 30 seconds and be the size of a 60 seconds countdown

[2017-09-26 22:14] PierreAndreis commented on #39
I had this problem.
My countdown was going too fast after a callback from a second countdown on the same page was firing the fast paced countdown to start (which was paused from true to false).

I rewrote some of the code on my end, and this is what my shouldComponentUpdate looks like:
`  componentDidUpdate(props) {
    let changes = false;
    if (props.seconds !== this.props.seconds) {
      cha

[2017-09-26 22:22] PierreAndreis commented on #40
https://github.com/pughpugh/react-countdown-clock/pull/22

[2017-09-29 16:16] cyang78 commented on #39
I had this problem, too. I'm using antd https://ant.design/components/modal/ to pop up the modal dialog.
My snippet is like this:

<div>
             <RequestInfo {...requestInfoProps} />
             <Modal
        visible={modalDialogVisible}
        title="Accept Request"
        onOk={acceptRequestOnOK}
        onCancel={acceptRequestOnCancel}
        footer={[
          <Button
            ke

[2017-11-10 15:51] yan87 opened #41 "When use 2 countdowns, when first finished, it stops the second too."
Hi,

I am new with React, I try use 2 countdown clocks, the problem when the first finished (onComplete), the second one stops. How can I run multiple react-countdown-clock?

[2017-11-20 14:33] melight402 commented on #34
the same bug but in stateless component, how to fix it there?

[2017-11-21 13:08] zkhil1 opened #42 "How to restart the timer?"
How to restart on setState or any other condition or props change, I have tried to re-render the whole component using forceUpdate() but it doesn't seem to work.
Using this clock for OTP countdown, need to reset when the user resend OTP.

[2017-11-21 14:18] chabanov commented on #34
Remove https://github.com/pughpugh/react-countdown-clock/blob/fef78f9a5f3f6185000269cce604c458d26f93ee/coffee/react-countdown-clock.coffee#L99

[2017-11-30 04:41] zkhil1 commented on #42
One way I found was using history to redirect to same page.

[2017-12-08 14:44] MadalinaGradinaru opened #43 "Timer counting down went very fast after the state is updated."
Is there any chance to resolve this bug?

[2017-12-14 02:04] Dyceman opened #44 "Counter is not retaining after page reload."
When I start a timer then reload the page the state variable I stored the timer component to becomes null.
I am not sure if I am doing something wrong or is it a bug.

[2017-12-14 02:09] #44 closed

[2017-12-14 05:07] Dyceman commented on #43
I am also having this same issue. I will see if I can solve this problem.

[2017-12-21 15:22] zchauhan opened #45 "Timer is not updated with new props (seconds)"
I guess issue is with `componentDidUpdate` method, if seconds is different in previous and new props then it is selecting previous props not the new one.

[code]

[2017-12-21 16:25] sjmp commented on #42
This is still an open issue! The inability to restart this component is a real pain.

[2017-12-21 19:27] pughpugh commented on #42
No need to be quite so dramatic @sjmp . What action are you proposing would reset the timer?

I've not looked at this in a while, but I believe if the `seconds` prop changes, the timer will restart. It maybe that there is a bug around this that needs fixing (#45) and it might not be of use if you need to reset it to the same time.

If I find some time over the xmas holidays I will take a look.

[2017-12-21 19:29] pughpugh commented on #45
Agreed, that looks suspect. Thanks, I will take a look.

[2017-12-21 19:31] pughpugh commented on #41
Sorry for the delayed response. If this is still a problem, please post an example and I will take a look.

[2017-12-21 19:34] zaidchauhan commented on #45
@pughpugh  PR for the same - https://github.com/pughpugh/react-countdown-clock/pull/46

[2017-12-21 19:34] pughpugh commented on #38
Sorry for the delayed response and thanks for the great bug report. I will take a look.

[2017-12-21 19:38] pughpugh commented on #43
Thanks for the bug report. There are a few similar issues floating around. I will see if I can take a look it it over the next few days.

[2017-12-21 19:44] zaidchauhan commented on #42
@sjmp @pughpugh  Setting the same time again will not work. You can do something like this

Set state by adding fraction.
[code]

[code]

[2017-12-22 06:56] zaidchauhan commented on #40
@pughpugh  Any updates on this ?

[2017-12-22 14:50] pughpugh commented on #45
Fixed in [2.1.0](https://github.com/pughpugh/react-countdown-clock/tree/2.1.0).

[2017-12-22 14:50] #45 closed

[2017-12-22 14:50] pughpugh commented on #43
Fixed in [2.1.0](https://github.com/pughpugh/react-countdown-clock/tree/2.1.0).

[2017-12-22 14:50] #43 closed

[2017-12-22 14:52] pughpugh commented on #35
I suspect this is fixed in [2.1.0](https://github.com/pughpugh/react-countdown-clock/tree/2.1.0). If this is still a problem for you, please let me know.

[2017-12-22 14:52] #35 closed

[2017-12-22 14:54] jonimin commented on #35
Thanks I will check it, I’m just about to start new project and I need a
timer

בתאריך יום ו׳, 22 בדצמ׳ 2017 ב-16:52 מאת Hugh Gallagher <
notifications@github.com>:

--

*Yoni Adi*

*CMS & Commercial *

minutemedia.com <http://www.minutemedia.com/> • 90min.com
<http://www.90min.com/> • 12up.com <http://www.12up.com/>

Skype: Joni adi

Mobile: +972-5 <javascript:void(0);>4-5751687

--
*CONFIDENTIAL

[2017-12-22 14:57] pughpugh commented on #40
It seems like a sensible request and I apologies for not attending to it sooner. I might have chance to look at it over the xmas period.

[2017-12-22 15:09] pughpugh commented on #42
#45 has been fixed as well a couple of other related bugs. I'm not convinced this fully meets the requirements of resetting the timer, but might at least support a workaround for some people.

[2017-12-22 15:47] zaidchauhan commented on #40
Thanks for the updates :)

On Friday, December 22, 2017, Hugh Gallagher <notifications@github.com>
wrote:

--

-----------------
Regards
Zaid Chauhan
Sr. Software Engineer

View My Profile on Linked In <http://in.linkedin.com/in/zaidchauhan>

[2017-12-26 03:15] macabeus commented on #39
I have this same problem, but I do not know exactly in what situations this occurs.

[2017-12-26 10:46] zchauhan commented on #41
@pughpugh This is still an issue.

[2017-12-26 11:00] pughpugh commented on #39
Hi @macabeus . So far I've been able to replicate one instance where sending new props could double up the tick events. I believe this was fixed in `2.1.0`.

I think @PierreAndreis problem is specific to multiple timers on the same page. It's also possible that the component is also no longer mounting and un-mounting cleanly. Both cases need to be investigated further. I'm hoping I can look at thi

[2017-12-26 11:01] pughpugh commented on #41
OK thanks @zchauhan , I will take a look.

[2017-12-26 11:04] zchauhan commented on #41
@pughpugh

The issue is with below code
[code]

[2017-12-26 11:10] pughpugh commented on #41
Yup. Timeout IDs need to be stored in state, not the component definition. They are currently bleeding across instances. I think this is the cause of a number of problems at the moment.

[2017-12-26 11:13] zchauhan commented on #41
Yes, You are right. I am wondering how props can be shared ?
Didn't experience this so far.

[2018-01-06 05:37] cyang78 commented on #39
Yes, 2.1.0 fixed the issue for me

[2018-01-10 11:35] lgupta54 opened #47 "Invariant Violation: View config not found for name canvas"
Invariant Violation: View config not found for name canvas

        <View>
                    <Text style={{textAlign: 'center'}}>
                        OTP will expire in 60 Second's
                    </Text>
                    { this.state.timer?
                        <Text style={styles.wrongNumberText} onPress={this._sendOTP}>
                            Resend OTP

[2018-02-02 23:54] macdonst commented on #33
Yeah, I'm also looking to play a sound as the timer counts down. Having a progress event fired would help but having the clock handle playing the sound would probably be best to keep them in sync.

[2018-02-07 20:29] kolaf opened #50 "Countdown from a specific time"
When counting down the time between two events it would be good to have the start reference of the countdown the time of the previous event. As it is now the time will start at 0% (or 100%) when you load it, regardless of how much time has passed since the previous event. The percentage count for the countdown will then be wrong since it counts down from now and not the previous event time.

Is it

[2018-02-10 08:08] brilliantmichael commented on #42
[code]

[2018-02-14 14:16] pegetive commented on #34
Hi,
I removed line 99 as mentioned above, but still receive this error.

[2018-02-14 16:03] pegetive commented on #34
@jericbas In which file did  you add the following condition?
[code]

[2018-02-14 20:42] pughpugh commented on #34
@pegative They may have edit the minified version manually or built it from scratch. Off the top of my head, the process from the CLI is as below.

[code]

I've not scheudled any time to work on this component at the moment, but I will update this issue if I find some time to work on it.

[2018-02-14 20:45] #39 closed

[2018-02-21 16:42] rodiwa commented on #40
Hey! I just wanted to check if this feature (set duration) is going to be available anytime soon?

[2018-02-22 22:20] alexsmartens commented on #47
+1

[2018-02-24 11:33] SuryaAcube opened #51 "Can I use multiple react-countdown-clock's separately for hours, minutes and seconds."
@pughpugh  What I meant to ask is can i use four separate timers each for days, hours, minutes and seconds in the same page.

- 1 clock for days
- 1 clock for hours
- 1 clock for minutes
- 1 clock for seconds.

[2018-02-27 10:35] sandy0201 opened #52 "Browser compatibility"
Hi,

Is this react-countdown-clock not compatible in IE?

I tried running the demo page http://pughpugh.github.io/react-countdown-clock/ in IE10 and IE11, there was an error in the console. Please see below for the error:

![image](https://user-images.githubusercontent.com/2969051/36724022-8fe5b65a-1bba-11e8-917e-059932d78510.png)

What possible work around is there to fix this?

Thank you.

Kind

[2018-02-27 12:44] pughpugh commented on #52
I believe React needs some polyfills for older browsers;

https://reactjs.org/docs/react-dom.html#browser-support

[2018-02-27 13:42] sandy0201 commented on #52
Tried it in my project now, it works with the polyfill, thank you.

[2018-02-27 13:42] #52 closed

[2018-03-05 12:48] fmagaldea commented on #34
Same issue, same request > I hope you will find the time to fix soon !

That said, nice component.

[2018-03-05 22:21] mbstrauss opened #53 "Contrast color becomes main color"
The first time I run the clock there is a noticeable difference between the main color and the lighter contrast color that defines the countdown. Each time the timer is run the two colors get closer together to the point that after around 5 times they are the same and you cannot see any difference.

Am I using the control incorrectly?

   <ReactCountdownClock
                        seconds={this.

[2018-03-06 14:36] pughpugh commented on #53
Yes you're using it correct, but this is a bug.

In some instances, it appears when the time starts again a new background gets drawn over the old one. Because the background is translucent, they layer over each other and become increasingly opaque over time.

I've a fix for the next version. Thanks for raising this.

[2018-03-06 14:46] pughpugh commented on #51
Sorry for the delayed response. I guess you mean where they all represent a single countdown, not 4 individual countdowns. It's a nice idea, although a little beyond the scope of this project at the moment.

I have started to think about separating out the timer logic from the front end rendering, so a user could pass in their own timer or alternative rendering. But even then, it wouldn't work out

[2018-03-06 14:59] SuryaAcube commented on #51
@pughpugh Thank you for the suggestion.

[2018-03-06 15:17] pughpugh commented on #47
Are you trying to use this with react-native?

[2018-03-06 15:28] #47 closed

[2018-03-06 19:17] pughpugh commented on #53
Fixed in 2.2.0

[2018-03-06 19:17] #53 closed

[2018-03-06 19:17] #51 closed

[2018-03-06 20:49] pughpugh commented on #34
Thanks for all the input. This should be fixed in 2.3.0.

[2018-03-06 20:49] #34 closed

[2018-03-06 20:50] pughpugh commented on #38
Thanks for reporting this. It should be fixed in 2.3.0.

[2018-03-06 20:50] #38 closed

[2018-03-07 13:32] sandy0201 opened #54 "npm run build fails to minify due to transpiling to ES6"
Hi,

I am building our project using Team City, and the build fails with the below error message:

Failed to minify the code from this file:
    ./node_modules/react-countdown-clock/build/react-countdown-clock.js:1:10143
Read more here: [http://bit.ly/2tRViJ9](http://bit.ly/2tRViJ9)

Will you be able to fix this issue?
Or if I fork, do you have any suggestions on how this can be fixed?

Looking fo

[2018-03-07 13:52] pughpugh commented on #54
Hi,

I suspect it was due to last two builds being run using a newer version of Webpack.

You could roll back to `2.1.0` if you want a quick fix and I will look into transpiling to ES5 later today. I imagine it's just a change to the Webpack config that is needed.

Thanks

[2018-03-07 14:10] sandy0201 commented on #54
Hi Hugh,

The build failed on version 2.1.0, therefore not sure what the issue was. Do you perhaps know?
Okay sure, that would be great.

Thanks so much!

[2018-03-07 15:50] pughpugh commented on #54
That is a little odd. I'm pretty sure the build has changed to es6 at 2.2.0, so I'm not sure why 2.1.0 does not work. Are you getting the same build error?

I've pushed a version to master, that I believe is now ES5. Would you be able to try that, before I publish it to npm?

[2018-03-07 16:51] sandy0201 commented on #54
I haven't tried building my project again on Team City with the new version 2.3.0 yet. But I was getting the error on version 2.1.0. The error only happens on Team City build, when I build it locally on my PC it does works.

Okay sure, will try it.

Thank you.

[2018-03-08 07:53] sandy0201 commented on #54
Hi Hugh,

I tried 2.3.0, and the build also fails with the same error.

I was going to try 2.4.0, but I realise, even if I copy the new files and add it to the node_modules folder of our project, when Team City runs the steps to build the project, it will override the new files that I have copied to the node_modules folder. This is because the second step on Team City is to install npm packages.

[2018-03-08 09:19] pughpugh commented on #54
OK, published. Let me know how you get on.

[2018-03-08 10:37] sandy0201 commented on #54
The new release worked. Thank you so much for your assistance.

[2018-03-08 11:26] pughpugh commented on #54
No problem @sandy0201 , happy to help.

[2018-03-08 11:26] #54 closed

[2018-03-22 21:05] abhishek-nandgaonkar opened #55 "The countdown UI is clipped on Chrome but works on Firefox"
When I open the URL you shared: http://pughpugh.github.io/react-countdown-clock/ in Chrome, there is color clipped at the bottom and right side of the countdown timer.
It looks fine on Firefox however.

Do you know what might have caused this and is there a fix coming up soon for this?

![chrome_countdown](https://user-images.githubusercontent.com/12551445/37798442-1c222834-2df3-11e8-8dc9-d0495b8b

[2018-03-24 16:24] pughpugh commented on #55
Hi. Thanks for the bug report.

I'm not able to replicate this; If it's still a problem, could you let me know what OS and browser version you are on.

[2018-03-26 14:58] abhishek-nandgaonkar commented on #55
Hi,

I can confirm that the component works on the built in display of Macbook Mid-2015 15.4-inch.

But the clipping of the component happens on
Apple Thunderbolt Display
27-inch (2560 x 1440)
AMD Radeon R9 M370X 2048 MB graphics

[2018-03-27 20:43] pughpugh commented on #55
Thanks for the details. Although I have a Thunderbolt display, I can only test this on Macbook Pro with High Sierra and a Radeon 555. With that configuration it all works fine. I'm not sure I can investigate it any further without being able to replicate it.

[2018-03-27 21:00] abhishek-nandgaonkar commented on #55
I understand.

In that case, will it be possible for you to point me to the part of the code that might be causing the issues? I can fork/pull the repo and try to find a fix for my case.

[2018-03-27 21:05] pughpugh commented on #55
There's not a lot to it, but maybe have a look where the timer is drawn;

https://github.com/pughpugh/react-countdown-clock/blob/548acc55e2452a8df3a7f9097bc3abb32db037ad/coffee/react-countdown-clock.coffee#L177

There are some vague notes on building the component on the following issues.

https://github.com/pughpugh/react-countdown-clock/issues/34#issuecomment-365738853

Hope that helps.

[2018-04-03 09:08] dannykoshy commented on #41
Any update on this?

[2018-04-17 00:04] patsplat commented on #33
@macdonst your commit would solve the reported issue.  Have you tried PR'ing back to @pughpugh ?

[2018-04-23 06:20] noblesilence opened #56 "How to run this project?"
Can someone tell me how to run this project? I installed coffee-script via Terminal with `sudo npm install -g coffee-script`.

When I try to compile it with `coffee --compile coffee/react-countdown-clock.coffee`, I get this error: `react-countdown-clock.coffee:198:50: error: missing / (unclosed regex)
      <canvas ref='background' {...canvasProps}></canvas>`

[2018-04-23 07:12] pughpugh commented on #56
Hey. Check out the comments here; https://github.com/pughpugh/react-countdown-clock/issues/34#issuecomment-365738853

[2018-04-23 09:20] #56 closed, assigned to nobody

[2018-05-08 12:49] mihaid85 opened #57 "canvas re-render bug"
Hi,

Changing the seconds prop with setState causes the component to re-render over existing drawing.
As soon as the timer ticks, the render looks as it should, so it's not a big problem unless the timer is paused. Then it ends up looking like in the attached screenshots.

Thanks.

Before changing seconds props:
<img width="456" alt="screen shot 2018-05-08 at 15 33 45" src="https://user-images.git

[2018-06-08 15:43] LennyLip commented on #28
@evanlesmez in my case I used own timer for this. see https://github.com/nscozzaro/physics-is-beautiful/blob/4f887b8690e914aef232bcb0f267dcec658961af/curricula/static/curricula/js/games/unit_conversion.jsx#L1259
Hope this will help

[2018-06-11 09:52] Simek commented on #41
Bump! Any news or workaround?

[2018-06-11 10:12] Simek commented on #41
I've manage to implement little, dirty w/o in which I've override start/stop methods and lift `timeoutIds` to component wrapper state:

[code]

It's not pretty or solid code but works.

[2018-07-15 19:02] riabhatia24 opened #58 "How to use onComplete"
<ReactCountdownClock seconds={10}
                     color="black"
                     alpha={1}
                     size={80}
                     showMilliseconds={false}
                      onComplete={( )  => <Timeup />}
                      weight={10}
                     />

This does not work. How to use the onComplete prop?

[2018-07-16 14:44] sandy0201 opened #59 "Customise countdown clock (HTML + CSS)"
Hi Hugh,

Hope you are well.

Just want to find out, is there a way to customise the HTML for the countdown clock?

Currently it only renders canvas elements, but I want to customise to be able to add additional text or class names to customise the styling.

Looking forward to your response.

Thank you.
Kind regards.

[2018-07-22 16:20] #58 closed

[2018-08-18 00:31] VilliGunn commented on #42
Might not be the best approach but here is what I did to force the component to re-render and therefore reset.

[code]

`this.state.completions` updates every time the countdown is completed and by using a state property that is always changing as the value for the `key` attribute, forces the component to re-render.

[2018-09-12 09:40] FabianSellmann opened #60 "Error on Server-Side"
`_scale: window.devicePixelRatio || 1` will throw an error since window is not defined on the server. Since this is a static property, error will be thrown already when you import the the module.

[2018-09-12 15:45] GMT95 opened #61 "maintain timer state on reloading page"
If I reload the page the timer also restarts,how can I keep the timer state as it was at the time of reload

[2018-10-19 15:12] alf182 commented on #60
I have this problem too

[2018-11-01 19:45] dannykoshy commented on #41
Hey thanks,

I had solved it. Cheers!

On Mon, Jun 11, 2018 at 5:12 PM Bartosz Kaszubowski <
notifications@github.com> wrote:

[2018-12-09 03:18] gbwashleybrown commented on #59
I second this question...?

[2018-12-22 14:39] miyoshikaya commented on #61
excellent question, I was wondering that too...

[2018-12-22 16:12] pughpugh commented on #61
There isn't currently a way create a timer in mid progress. I'm sure it would be possible with some minor tinkering, but I'm a bit short of time at the moment. I'm happy to accept a PR if anyone wants to take a crack at it.

Alternatively, You might find it's already been implemented on one of the [forks](https://github.com/pughpugh/react-countdown-clock/network), it looks like @kolaf attempted it

[2018-12-28 11:05] GMT95 commented on #61
Thanks for the answer @pughpugh.

[2018-12-28 11:05] #61 closed

[2019-03-29 14:51] JeremyEllingham commented on #42
@VilliGunn Great solution, I'd even suggest adding it in the Readme as part of an FAQ section if there is no progress on implementing this feature into the base component.

[2019-05-10 07:55] fmagaldea opened #62 "Version 2.6.0 & 2.7.0 makes UglifyJs triggers an error while building with webpack"
In "dev" mode, build is ok (no call to UglifyJs).
But in "prod" mode, while building bundle with wepback, there is an error at the end of the process:

[code]

Extract of my package.json:
[code]

My .babelrc:
[code]

Works with react-countdown-clock 2.5.0 but fails with 2.6.0

[2019-06-09 11:14] Farzannajipour opened #63 "Countdown reset unexpectedly"
I've used Countdown on my project and it works like a charm. but when I combined it with simple input, it would be restart whenever my input changes. I want to restart it only and only if time over. Here is my code:
[code]

[2019-06-09 12:44] #63 closed

[2019-06-12 13:41] fmagaldea commented on #62
Looks like some new version of other package (webpack...) fixed this issue, so I close it.

[2019-06-12 13:55] fmagaldea commented on #62
In fact, issue is still there.

[2019-07-09 10:06] adasara-kreeti commented on #50
Is there any follow-up on this? I have made a few changes that contribute towards this and would be happy to open a PR.

[2019-08-03 10:54] riazi opened #65 "start when user not work with keyboard or mouse"
i need countdown start when user not work with mouse o keyboard, how to control it? or when click in button in every page restart the time,
can help me about this?

[2019-08-19 09:22] codesignist commented on #60
If you use next.js you can render on client side.

https://nextjs.org/docs#with-no-ssr

[2019-08-21 07:13] Shadowman4205 commented on #57
Hello,

same here, any workaround regarding this?

[2019-08-21 12:31] Shadowman4205 commented on #42
@pughpugh
What if you will add new prop countDownStartedAt
and
on
[code]
and the only thing we have to do is change countDownStartedAt  prop to restart it.

[2019-08-27 17:40] rxluz commented on #62
Same problem here

[2019-09-19 17:02] fmagaldea commented on #62
Problem still there with 2.7.0 > we are stuck to version 2.5.0

[2019-10-08 11:35] obrejla commented on #41
Hi all,

also bumped into this... It's really a blocker, is the fix planned?

Thanks a lot.

[2019-12-02 11:26] jtterra commented on #60
No fixes yet ?

[2020-04-17 15:23] aryanshridhar opened #68 "Start the timer after pressing a button"
Is there a way , I can start the timer when a particular button has been pressed ?

[2020-04-17 18:34] pughpugh commented on #68
Hey. You just need to toggle the `paused` prop, similar to how it's done in the example.

https://github.com/pughpugh/react-countdown-clock/blob/master/index.html

[2020-04-17 18:50] #68 closed

[2020-12-29 23:47] pughpugh commented on #60
Thaks for reporting this. I've not got this set up to replicate, but I've pushed a fix. Let me know if there are any issues.

[2020-12-29 23:47] #60 closed

[2021-04-22 11:30] laurencefass commented on #55
countdown timer is clipping in latest version of chrome:

https://codesandbox.io/s/w2v7zzn63w?file=/src/Home.js:1363-1375

[2021-04-22 11:53] laurencefass commented on #55
Same issue here in Chrome and Edge on windows.
https://codesandbox.io/s/react-countdown-click-not-rendering-properly-fit8i?file=/src/App.js

[2022-04-13 13:17] KonradHoeffner opened #76 "Update dependency of react to 18"
Right now, an application using react 18.0.0 using react-countdown-clock only works with `npm install --legacy-peer-deps`, otherwise it fails with the following error:

[code]

However it seems to work fine with React 18, so I think it can safely be changed.

[2022-09-10 03:36] #62 closed

[2022-09-22 05:27] timgreen commented on #42
Late to the party, but note for the people are still seeking for simple solution.

Like https://www.npmjs.com/package/react-countdown#key mentioned, just set a new key to reset the component to restart the countdown.

[2022-10-16 16:41] pughpugh commented on #76
Sorry I missed this, it's not really on my radar. Updated. Thanks.

[2022-10-16 16:41] #76 closed